@use "../variables/functions";
@use "../variables/colors";
@use "../variables/typography";

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: functions.pixelsToRem(320);
  height: functions.pixelsToRem(450);
  border-radius: functions.pixelsToRem(8) functions.pixelsToRem(8) 0 0;
  padding: functions.pixelsToRem(40);

  &--first {
    background-color: colors.$first-color;
  }

  &--second {
    background-color: colors.$second-color;
    border-radius: 0;
  }

  &--third {
    border-radius: 0 0 functions.pixelsToRem(8) functions.pixelsToRem(8);
    background-color: colors.$third-color;
  }
}

.main-title {
  font-size: functions.pixelsToRem(30);
  font-family: $second-typography;
  text-transform: uppercase;
}

.button-section {
  background-color: $light-color;
  width: functions.pixelsToRem(150);
  padding: functions.pixelsToRem(13);
  border-radius: functions.pixelsToRem(30);
  font-size: functions.pixelsToRem(15);

  &--first {
    color: colors.$first-color;
  }

  &--second {
    color: colors.$second-color;
  }

  &--third {
    color: colors.$third-color;
  }
}

@media screen and (min-width: functions.pixelsToRem(900)) {
  .card-container {
    border-radius: functions.pixelsToRem(8) 0 0 functions.pixelsToRem(8);

    &--second {
      border-radius: 0;
    }

    &--third {
      border-radius: 0 functions.pixelsToRem(8) functions.pixelsToRem(8) 0;
    }
  }
}
